<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title> Blank </ion-title>
    <ion-buttons slot="end">
        <ion-button routerLink="/add">
            <ion-icon slot="icon-only"  name="add-outline"></ion-icon>
            
        </ion-button>
    </ion-buttons>
   
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-list>
    @for (course of tabCourses; track $index) {
    <ion-item [routerLink]="['/details', course.id]" >
      <ion-avatar>
        <img [src]="course.logo" />
      </ion-avatar>
      <ion-label class="ion-margin-start"> {{ course.title }}</ion-label>
    </ion-item>

    }
  </ion-list>
</ion-content>
