<ion-header [translucent]="true">
  <ion-toolbar  color="secondary">
    <ion-title>details</ion-title>
    <ion-buttons slot="start">
        <ion-back-button defaultHref="/add"></ion-back-button>
        
    </ion-buttons>
    <ion-buttons slot="end">
    
            <ion-icon (click)="presentAlert()" slot="icon-only" name="trash-outline"></ion-icon>
            
        
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">details</ion-title>
    </ion-toolbar>
  </ion-header>
</ion-content>
